@import "mixin";

@include responsive-below(ml) {

}

@include responsive-min(md) {
  .mySlides {
    display: none;
    width: 100vw;
    height: 100vh;

    .slideshow_container {
      width: 100vw;
      height: 100vh;
      margin: .5em auto 0;
    }
  }
}

@include responsive-min(lg) {

}

;