@import "variable";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  text-align: center;
  font-family: $font_family;
}

body {
  color: #666666;
  background: #f4f9f9;
  font-size: 1.1em;
}

header {
  width: 100%;
  height: 100%;
  color: #000 !important;
}

footer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 1.1em;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

label {
  font-size: 1.2em;
  line-height: 19px;
  font-weight: 60;
  margin-bottom: 1em;
}

.btn {
  cursor: pointer;
  border: none;
  box-shadow: none;
  outline: 0;
}

.fab, .far, .fad, .fal, .fas {
  font-size: 2em;
  font-family: $font-awesome !important;
}

.inline_check_container {
  display: inline-flex;
  align-items: center;
  position: relative;

  .inline-check-input {
    margin-right: 1em;
  }
}

.form_group_radio {
  text-align: left;

  label {
    margin-top: .5em;
    margin-right: 1em !important;
  }

  .inline-check-input {
    margin-top: -.5em;
  }
}

.fix_radio_button {
  .inline-check-input {
    margin-top: -.5em !important;
  }
}

.form_group {
  margin-bottom: 1em;
  text-align: left;

  input {
    display: block;
    width: 100%;
    padding: .375em .75em;
    font-size: 1em;
    text-align: left;
  }
}

.container_fluid {

  .header_container {
    color: #000;
    border-bottom: solid .2em $color_red;

    .header_flex {
      display: flex;
      gap: 1em;
      padding: 5px 0 5px;

      div {
        width: 100%;
      }

      .left_container {
        flex: 0 0 40%;
        padding-left: 3em;
        margin-top: -1em;

        .logo_container {
          width: 130px;
          height: 130px;

          .logo {
            width: 150px;
            height: 140px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .right_container {
        flex: 0 0 60%;
        padding-top: 2em;

        ul {
          display: flex;
          place-content: center;
          align-items: center;
          text-align: center;
          gap: 1em;

          .add_slash:after {
            content: "/";
            padding-left: 15px;
            font-size: 1.2em;
            font-weight: 500;
          }

          a {
            font-size: 1.2em;
          }
        }

        .custom_dropdown {
          position: relative;
          display: inline-block;
          place-items: center;
          text-align: center;

          .dropdown_context {
            font-family: $font-family_second;
            display: none;
            position: absolute;
            min-width: 200px;
            border: 1px solid #f4f9f9;
            z-index: 2;
            left: -4.5em;
            background: #f4f9f9;
            padding: 2em 0;
            box-shadow: $dropdown_box_shadow;

            li {
              margin-bottom: .3em;
              width: 100%;

              a {
                width: 100%;
                padding: 5px 15px;
              }

              a:hover {
                font-family: 'Parisienne', cursive, sans-serif;
                font-size: 1.5em;
              }
            }
          }

          &:hover {
            .dropdown_context {
              display: block;
            }
          }
        }


      }
    }

    .un_order_show_none {
      display: none;
    }

    .un_order_show {
      display: block;
    }
  }

  .user_registration_form_context {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 3em 1em;

    .user_context {
      width: 50%;
      height: 100%;
      text-align: center;

      margin: 0 auto;
    }

    .form_group {
      input {
        margin-top: .5em !important;
      }
    }
  }

  .edit_context {
    width: 100%;
    padding: 15px;
    margin: 2em;

    form {
      width: 60%;
      margin: 0 auto;

      input {
        margin-top: .5em;
      }
    }

    .btn-primary {
      width: 90%;
      background: #00af91;
      border-radius: 20px;
      padding: 8px 15px;
    }
  }

}

.container_fluid {
  width: 100%;
  height: 100%;

  .btn {
    width: 50%;
    font-size: 1.2em;
    margin-bottom: 3em;
    padding: 15px;
    background: $color_red;
    color: #FFF;
  }

  .invalid_feedback {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-top: .5em;
    color: #e2351c;
  }

  .invalid_login {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color: #E2351C;
    padding: 15px;
  }

  .index_container {
    width: 100%;
    height: 100%;

    .flex_container {
      width: 80%;
      height: 100%;
      display: grid;
      gap: 1.2em;
      grid-template-columns: repeat(4, 1fr);
      margin: 5em auto;

      .management {
        width: 100%;

        .icons_container {
          width: 100%;

          .fas:before, .far:before {
            font-size: 8em;
            color: #3C8EBC;
          }
        }

        .btn {
          color: #FFF;
          margin: 1em;
          padding: 15px 10px;
          background: #3C8EBC;
          font-size: 16px;
          width: 100%;
        }
      }
    }
  }

  .account_context_container {
    width: 100%;
    padding: 2em;

    .container_flex {
      display: flex;
      gap: 1em;

      .account_context_left, .account_context_right {
        text-align: center;
        place-items: center;
      }

      .account_context_right {
        width: 100%;
      }

      .account_context_left {

        .account_context_left_top.add_border {
          box-shadow: $box_shadow;

          margin: 0 auto;
          width: 300px;
          padding: 15px 20px;

          img {
            max-width: 100%;
            border-radius: 50%;
            padding: 15px;
            //margin-bottom: 1em;
          }

          .account_context_left_top {
            .form_group {
              border: none !important;
              text-align: center;

              h5 {
                font-size: 1.3em;
                margin-bottom: .5em;
              }
            }
          }
        }

        .social_media_container {
          width: 300px;
          box-shadow: $box_shadow;
          padding: 15px 20px;
          margin: 2em;

          .account_context_left_bottom {
            display: flex;
            gap: 1em;
            place-items: center;
            text-align: center;
            justify-content: center;

            .fab {
              font-size: 2.5em;
              cursor: pointer;
            }

            .twitter_fa {
              color: #1DA1F2;
            }

            .facebook_fa {
              color: #23689b;
            }

            .instagram_fa {
              background: radial-gradient(circle at 35% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .snapchat_fa {
              color: #f88f01;
            }

          }
        }
      }

      .account_context_right, .account_context_bottom {
        form {
          box-shadow: $box_shadow;
          padding: 15px 20px;
        }

        .form_group {
          display: flex;
          padding: 15px 3em 15px 0;
          border-bottom: 1px solid #edeef7;

          h5 {
            font-size: 1em;
            font-weight: bold;
            width: 200px;
            text-align: left;
          }
        }

        .btn_edit {
          //font-size: 1.1em;
          background: #00af91;
          padding: 8px 15px;
          color: white;
          width: 80%;
          border-radius: 20px;
        }
      }

      .account_context_bottom {
        display: flex;
        width: 100%;
        margin-top: 2em;
        gap: 1em;

        .user_account_context {
          flex: 1 1 0;
        }

        .context_user_address {
          flex: 2 1 0;
        }

      }
    }
  }
}


.form_register {
}

.user_info_container {
  display: flex;
  gap: 10px 20px;
  margin-top: 3em;

  .flex_grow, .user_login_info {
    flex-grow: 1;
    padding: 0 3em;
  }
}

.user_login_info {
  flex-grow: 1;
  padding: 0 3em;
  width: 50%;
  margin-bottom: 3em;


}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 240px;
  clear: both;
  border-top: dotted .2em #bb2205;
  margin-top: 3em;

  color: #000;

  .fas, .fab {
    color: #000;
  }

  .footer_context_row {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0 0;
    text-align: center;
    place-items: center;
    place-content: center;
    padding: 0 15px 15px;

    .context {
      flex-grow: 1;
      text-align: center;

      h3 {
        margin-bottom: 1em;
      }
    }

    .context.contact {
      .fas {
        font-size: 1.3em;
        margin-right: 1em;
      }

      p {
        text-align: center;
        padding-bottom: .2em;
      }
    }

    .social_media a {
      margin-right: 1em;

      .fab {
        font-size: 1.5em;
      }
    }
  }

  .footer_context_copyright {
    width: 100%;
    height: 100px;
    padding: 2em 0 0;
  }
}


.container_fluid {

  .form_search {
    margin-top: 5em;
    text-align: center;
    width: 100%;

    .search_container {
      width: 100%;
      text-align: center;
      padding: 50px;

      input {
        width: 40%;
        padding: 6px 15px !important;

        &::placeholder {
          font-size: 17px;
        }
      }

      .btn_search {
        background: #DDD;
        font-size: 17px;
        border: none;
        padding: 6px 10px;
        margin-right: 16px;
        margin-left: -5px;
        margin-top: 8px;

        &:hover {
          background: #CCC;
        }
      }
    }
  }
}

