<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head">
<body>
<header th:replace="fragments :: header"></header>
<div class="container_fluid">
    <div class="container login_container">
        <div class="auth_container">
            <form action="" class="auth_form">
                <div class="signup slide-up">
                    <div class="center">
                        <h2 class="form-title" id="signup">Register</h2>
                        <div class="form-holder">
                            <input type="email" class="input" placeholder="Email" />
                            <input type="password" class="input" placeholder="Password" />
                        </div>
                        <button class="submit-btn">Register</button>
                    </div>
                </div>
            </form>
            <form action="#" th:action="@{/login_auth}"
                  th:object="${a1uthenticate}"
                  class="auth_form" method="POST">
                <div class="login">
                    <h2 class="form-title" id="login">Login In</h2>
                    <div class="form-holder">
                        <input type="text" class="input" id="username" name="username" placeholder="Enter username" />
                        <input type="password" class="input" id="password" name="password" placeholder="Enter password" />
                    </div>
                    <button class="submit-btn">Login In</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/index.js}"></script>
<footer th:replace="fragments :: footer">
</footer>
</body>
</html>