<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragment/fragments :: head('Registration form')">
</head>
<body>
<header th:replace="fragment/HeaderNFooter :: header"></header>
<div class="container_fluid">
    <div class="user_registration_form_context" th:if="${user}">
        <h1>User Information</h1>
        <form th:action="${action_url}"
              th:replace="fragment/ReusableForm :: userForm('Submit Form')"
              class="user_registration" th:object="${user}"
              method="POST">
        </form>
    </div>

    <div class="user_registration_form_context" th:if="${address}">
        <form class="user_registration"
              method="POST"
              th:action="${action_url}"
              th:object="${address}"
              th:replace="fragment/ReusableForm :: addressForm('Submit Address Form')"
        >
        </form>
    </div>

    <div class="user_registration_form_context" th:if="${authenticate}">
        <form class="user_registration"
              method="POST" th:action="${action_url}"
              th:object="${authenticate}"
              th:replace="fragment/ReusableForm :: authenticateForm('Submit Authenticate Form')">
        </form>
    </div>
</div>
<script th:src="@{/js/dropdown.js}" type="text/javascript"></script>
</body>
</html>