<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container_fluid">
    <div class="user_registration_form_context">
        <h1>User Information</h1>
        <form th:action="@{/process_u_register}"
              class="user_registration" th:object="${user}"
              method="POST">
            <div class="user_context">
                <div class="form_group">
                    <label th:for="${user.userID}" th:class="${user.userID}" hidden th:text="${'User id'}"></label>
                    <input type="hidden" th:name="${user.userID}"
                           th:field="*{userID}"
                           th:value="${user.userID}"
                           th:placeholder="${'Enter a user id'}"
                           readonly="readonly"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}" class="invalid_feedback"></div>
                </div>
                <div class="form_group">
                    <label th:for="${user.firstName}" th:class="${user.firstName}" th:text="${'First name'}"></label>
                    <input type="text" th:name="${user.firstName}"
                           th:field="*{firstName}"
                           th:placeholder="${'Enter first name'}"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid_feedback"></div>
                </div>
                <div class="form_group">
                    <label th:for="${user.lastName}" th:class="${user.lastName}" th:text="${'Last name'}"></label>
                    <input type="text" th:name="${user.lastName}"
                           th:field="*{lastName}"
                           th:placeholder="${'Enter last name'}"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid_feedback"></div>
                </div>

                <div class="form_group">
                    <label th:for="${user.dateOfBirth}" th:class="${user.dateOfBirth}" th:text="${'Date of birth'}"></label>
                    <input type="text" th:name="${user.dateOfBirth}"
                           th:field="*{dateOfBirth}"
                           th:placeholder="${'Enter date of birth (yyyy/mm/dd)'}"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="invalid_feedback"></div>
                </div>

                <div class="form_group_radio">
                    <div class="inline_check_container">
                        <input class="inline-check-input" type="radio"
                               name="check_male" id="check_male" value="Male"
                               th:field="*{gender}"
                        >
                        <label class="inline-check-label" for="check_male" th:text="Male"></label>
                    </div>
                    <div class="inline_check_container">
                        <input class="inline-check-input" type="radio"
                               name="'check_female'" id="check_female" value="Female"
                               th:field="*{gender}"
                        >
                        <label class="inline-check-label" for="check_female" th:text="Female"></label>
                    </div>
                </div>
                <div class="form_group">
                    <label th:for="${user.phoneNum}" th:class="${user.phoneNum}" th:text="${'Phone number'}"></label>
                    <input type="number" th:name="${user.phoneNum}"
                           th:field="*{phoneNum}"
                           th:placeholder="${'Enter a phone number'}"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}" class="invalid_feedback"></div>
                </div>
                <div class="form_group">
                    <label th:for="${user.email}" th:class="${user.email}" th:text="${'Email address'}"></label>
                    <input type="email" th:name="${user.email}"
                           th:field="*{email}"
                           th:placeholder="${'Enter a email address'}"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid_feedback"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit Form</button>
        </form>
    </div>
</div>
</body>
</html>