<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="container_fluid">
    <div class="user_registration_form_context">
        <form th:action="@{/process_address}" class="user_registration"
              th:object="${address}"
              method="POST"
        >

                <div class="user_context">
                    <div class="form_group">
                    <label th:for="${address.address}" th:class="${address.address}" th:text="${'Street address'}"></label>
                    <input type="text" th:name="${address.address}"
                           th:field="*{address}"
                           th:placeholder="${'Enter a street'}"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="invalid_feedback"></div>
                </div>
                <div class="form_group">
                    <label th:for="${address.city}" th:class="${address.city}" th:text="${'City'}"></label>
                    <input type="text" th:name="${address.city}"
                           th:field="*{city}"
                           th:placeholder="${'Enter a city'}"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="invalid_feedback"></div>
                </div>
                <div class="form_group">
                    <label th:for="${address.state}" th:class="${address.state}" th:text="${'State'}"></label>
                    <input type="text" th:name="${address.state}"
                           th:field="*{state}"
                           th:placeholder="${'Enter a state'}"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="invalid_feedback"></div>
                </div>
                <div class="form_group">
                    <label th:for="${address.zipCode}" th:class="${address.zipCode}" th:text="${'Zipcode'}"></label>
                    <input type="number" th:name="${address.zipCode}"
                           th:field="*{zipCode}"
                           th:placeholder="${'Enter the zipcode'}"
                           th:erroeClass="error_notify"
                    >
                    <div th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" class="invalid_feedback"></div>
                </div>
                </div>
        </form>
    </div>
</div>
</body>
</html>